/**************************************************/
/********************** Tag Selectors ********************/
/**************************************************/

body{
    background-color: #EFF5F5;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    font-family:  'Montserrat', sans-serif;
}

button{
    border-radius: 10%;
    height: 2.5em;
    width: 7em;
    border-style: double;
}

hr{
    background-color: #EFF5F5;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 6px; 
    width: 10%;
}

h1{
    text-align: center;
    color: #EEEEEE;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 2px;
}

h3{
    color: #66BFBF;
}

p{
    text-align: center;
}

::selection{
    color: #EEEEEE;
    background-color: #0E5E6F;
}
/**************************************************/
/******************** Class Selectors ******************/
/**************************************************/

/***************** Images **********************/
.title-image{
    border-style: none;
    height: auto;
    margin:0 auto;
    position:relative;
    bottom: 13px;

}

.artists-circle-images{
    border-radius: 100%;
    background-color: black;
    position: static;
}

/**************************************************/

/********************* Text *************************/

.title-text{
    width:  15%;
    margin: 0 auto 0 auto;
    font-family: fantasy;
    text-decoration: none;
    position:relative;
    top:20px;
    animation-duration: 7s;
    animation-name: flag-effect;
    
}
@keyframes flag-effect{
    from{
        color: #0E5E6F
    }
    to{
        color: #EEEEEE
    }
}
.title-text:visited{
    color: #66BFBF;
}
.title-text:link{
    color: #66BFBF;
}
.title-text:hover{
    text-decoration: none;
    color: gold;
}

.button-text{
    color: #EEEEEE;
    font-size: 1.5em;
    font-family:fantasy;
    font-weight: bold;
    text-decoration: none;

}
.button-text:hover{
    color: #0E5E6F;
}
.titles-middle-container{
    text-align: left;
    position: static;
    width: 17rem;
    margin: 0 0 0 30px;
    font-size: 149%;
}

.title-artist{
    position: absolute;
    bottom: -4%;
    font-family: fantasy;
    font-size: larger;
}
/************************************/
/***************** lines *******************/
.line-subt{
    background-color: #EEEEEE;
    margin: 0 auto;
}
/************************************/

/************************* Buttons *************************/

.button-home{
    background-color: #0E5E6F;
    position: absolute;
    left: 20px;
    top: 90px;
    border-style: none;
}

.button-books{
    background-color:  #0E5E6F;
    border-style: none;
    position: absolute;
    top: 90px;
    right: 30px;
}
.button-music{
    background-color:  #0E5E6F;
    border-style: none;
    position: absolute;
    top: 90px;
    right: 150px;
}
.button-poetry{
    background-color:  #0E5E6F;
    position: absolute;
    top:90px;
    left: 140px;
    border-style: none;
}
.button-poetry:hover{
    background-color: #EEEEEE;
    border-style: none;
}
.button-home:hover{
    background-color: #EEEEEE;
    border-style: none;
}
.button-music:hover{
    background-color: #EEEEEE;
    border-style: none;
}
.button-books:hover{
    background-color: #EEEEEE;
    border-style: none;
}
/**************************************************/

/************************* DIV *************************/

.phrase-div{
    height: 200px;
    background-color:#EEEEEE;
    position: static;
    text-align: center;
}
.englobing-div{
    position: sticky  ;
    height: auto;
}
.englobing-1{
    position: sticky;

}
.top-container{
    background-color: #0E5E6F;
    text-align: center;
    height: 150px;
    position: sticky;
    top: 0;

}
.middle-container{
    background-color:#EFF5F5;
    height: auto;
    position:static;
    top: 0;
    text-align: center;
}
.artists-images-input{
    height: 300px;
    position: sticky;
}

.englobing-bottom{
    position: static;
}
.bottom-container{
    background-color:#E1D7C6;
    position: sticky;
    top: 0;
}
.full-bottom-container{
    position: relative;
    bottom: 0;
    height: 150px;
    background-color: #FFB100;
}



/**************************************************/

/**************************************************/
/****************** ID Selectors ***********************/
/**************************************************/

#title-mainpage{
    cursor: none;

}

#subtitle{
    font-family: serif;
}
#copyright{
    position: absolute;
    bottom: 0px;
    right: 10px;
    color:white;
}
#twitter-icon{
    position: absolute;
    top: 40%;
    left: 48%;
    width: 25px;
}
#lastfm-icon{
    position: absolute;
    top: 38.4%;
    left: 51%;
    width: 25px;
}
#spotify-icon{
    position: absolute;
    top: 38.4%;
    left: 54%;
    width: 25px;
}

#artist-1{
    border-radius: 100%;
    height: auto;
    width: 15%;
    position: absolute;
    left: 15%;
    top: 20%;
}
#artist-1:hover{
    opacity: 0;
    
}
#artist-2{
    text-align: center;
    border-radius: 100%;
    width: 15%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 42%;
}
#artist-2:hover{
    opacity: 0;
}
#artist-3{
    width: 15%;
    height: auto;
    position: absolute;
    top:20%;
    left: 68%;
}
#artist-3:hover{
    opacity: 0;
}
#title-art1{
    left: 20%;
}
#title-art2{
    left: 45.5%;
}
#title-art3{
    left: 70%;
}
/**************************************************/
